@import "_var.scss";

*{
	color:$white;
}

html{
	overflow:hidden;
}

body{
	width: 100px;
	height:100px;
	margin:0;
	overflow:hidden;
}

h1{
	font-family: 'mikadobold';
}

h2{
	
}

h3{
	
}

h4{
	
}

p{
	
}

a{
	font-family: 'mikadoregular';
}

ul{
	
}

li{
	
}

span{
	
}
