<div id="project-content">
	<div id="project-content-text">
		<h1>{{this.title}}</h1>
		<h2>{{this.desc}}</h2>
	</div>
</div>

<canvas id="canvas"></canvas>
<video autoplay preload="auto" muted loop src="src/video/{{this.video}}"></video>
