@import "_var.scss";

.project{
	@include fullabsolute(0);
	display:none;
	
	
	&.front{
		display: block;
	}

	#project-content{
		@include fullabsolute(1);
    	background-color: rgba(7,59,88,0.7);

    	#project-content-text{
    		margin-top: 500px;
    		text-align: center;
    	}
	}

	iframe{
		
	}
}